EDIT PAGE FOR A HABIT ENTRY

<form class="" action="/habit_entries/<%=@habit_entry.id%>" method="post">
    <input type="hidden" name="_method" value="patch"> 
    <label for="date_to_do_habit">To Do On:</label>
    <input type="date" name="date_to_do_habit" value ="<%= @habit_entry.date_to_do_habit %>">
    <label for="title">Title:</label>
    <input type="text" name="title" value ="<%= @habit_entry.title %>">
    <label for="content">Content:</label>
    <textarea name="content" style="width:auto; height:auto;"><%= @habit_entry.habit_content%></textarea>
    <label for="completed">Completed? (type true or false):</label>
    <input type="text" name="completed" value ="<%= @habit_entry.completed_habit %>">
    

    
    <input type="submit" name="" value="Save changes for this Habit Entry">
</form>  