<h4>To Do On: <%= @habit_entry.date_to_do_habit %></h4>
<h4><%= @habit_entry.title.upcase %></h4>
<h4><%= @habit_entry.habit_content %></h4>
<h4>Completed: <%= @habit_entry.completed_habit || "false" %></h4> 
 


<h4>Created by: <%= @habit_entry.user.name %></h4>
<br><br> 
<p>created on <%= @habit_entry.formatted_created_by %></p>

<% if authorized_to_edit?(@habit_entry) %>
    <a href="/habit_entries/<%= @habit_entry.id %>/edit">Edit Entry</a>
    <br><br> 
    <form class="" action="/habit_entries/<%= @habit_entry.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" name="" value="Delete this habit">
  </form>
  <% end %>
 



