<h2><%= @user.name %>'s Habit Page</h2>

<p> Hello and welcome to your habit homepage. Below is a list of all the habits you have created for yourself!</p>

<br><br>
<% @sorted_entries.each do |habit_entry| %>
    <h5><a href="/habit_entries/<%= habit_entry.id %>"<%=habit_entry.formatted_created_by %></a></h5>
    <strong> <%= habit_entry.title.upcase %></strong>
    <h5><%= habit_entry.date_to_do_habit %>, By <%= habit_entry.user.name %> </h5> 
    <h5><%= habit_entry.habit_content %></h5>
    <h5>Completed: <%= habit_entry.completed_habit || "false" %></h5> 
  
    <br><br>
<% end %>

<br><br>
<br><br>
<br><br>




